<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="furnitureEntities" connectionString="metadata=res://*/DatabaseContext.furnitureModel.csdl|res://*/DatabaseContext.furnitureModel.ssdl|res://*/DatabaseContext.furnitureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G8INCUJ\SQLEXPRESS;initial catalog=furniture;integrated security=True;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BicycleEntities" connectionString="metadata=res://*/DatabaseContext.BicycleModel.csdl|res://*/DatabaseContext.BicycleModel.ssdl|res://*/DatabaseContext.BicycleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G8INCUJ\SQLEXPRESS;initial catalog=furniture;integrated security=True;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BicycleShopEntities" connectionString="metadata=res://*/DatabaseContext.DbContext.csdl|res://*/DatabaseContext.DbContext.ssdl|res://*/DatabaseContext.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6HJ8V04;initial catalog=BicycleShop;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BicycleShopEntities1" connectionString="metadata=res://*/DatabaseContext.DBModel.csdl|res://*/DatabaseContext.DBModel.ssdl|res://*/DatabaseContext.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6HJ8V04;initial catalog=BicycleShop;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>