USE [BicycleShop]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ID] [int] NOT NULL,
	[ID_Street] [int] NOT NULL,
	[Home_Number] [int] NOT NULL,
	[HomeIndex] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[ID] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Measurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliverDate] [date] NOT NULL,
	[ID_Address] [int] NOT NULL,
	[ID_User] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[ID_Status] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Name] [text] NOT NULL,
	[ID_Measurement] [int] NOT NULL,
	[Price] [decimal](7, 2) NOT NULL,
	[ID_Supplier] [int] NOT NULL,
	[ID_Manufacturer] [int] NOT NULL,
	[ID_Category] [int] NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[Amount] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[Photo] [text] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Order]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Order](
	[ID] [int] NOT NULL,
	[ID_Order] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_Product_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[ID] [int] NOT NULL,
	[ID_City] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Streets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.06.2026 1:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[ID_Role] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([ID], [ID_Street], [Home_Number], [HomeIndex]) VALUES (1, 1, 32, 420151)
INSERT [dbo].[Address] ([ID], [ID_Street], [Home_Number], [HomeIndex]) VALUES (2, 2, 8, 125061)
INSERT [dbo].[Address] ([ID], [ID_Street], [Home_Number], [HomeIndex]) VALUES (3, 3, 24, 630370)
GO
INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Велосипед взрослый горный')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Велосипед городской подростковый')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (3, N'Велосипед городской взрослый')
GO
INSERT [dbo].[City] ([ID], [Name]) VALUES (1, N'Лесной ')
GO
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'Slash')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'Shimano')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'Skill bike')
GO
INSERT [dbo].[Measurement] ([ID], [Name]) VALUES (1, N'шт        ')
GO
INSERT [dbo].[Order] ([ID], [OrderDate], [DeliverDate], [ID_Address], [ID_User], [Code], [ID_Status]) VALUES (1, CAST(N'2023-02-27' AS Date), CAST(N'2023-04-20' AS Date), 1, 10, 901, 1)
INSERT [dbo].[Order] ([ID], [OrderDate], [DeliverDate], [ID_Address], [ID_User], [Code], [ID_Status]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2023-04-21' AS Date), 11, 1, 902, 1)
INSERT [dbo].[Order] ([ID], [OrderDate], [DeliverDate], [ID_Address], [ID_User], [Code], [ID_Status]) VALUES (3, CAST(N'2023-03-21' AS Date), CAST(N'2023-04-22' AS Date), 2, 2, 903, 1)
GO
INSERT [dbo].[Product] ([ID], [Article], [Name], [ID_Measurement], [Price], [ID_Supplier], [ID_Manufacturer], [ID_Category], [Discount], [Amount], [Description], [Photo]) VALUES (1, N'А112Т4', N'Велосипед взрослый горный Slash Stream 27.5 колеса (2025) 17" Черный (162-172 см)', 1, CAST(19775.00 AS Decimal(7, 2)), 1, 1, 1, CAST(30.00 AS Decimal(5, 2)), 15, N'Горный велосипед Slash Stream 27.5 (2025) – легкий и надежный компаньон для поездок по пересеченной местности. Мощные шатуны интенсивно передают усилия мышц на вал каретки. ', N'1.jpg')
INSERT [dbo].[Product] ([ID], [Article], [Name], [ID_Measurement], [Price], [ID_Supplier], [ID_Manufacturer], [ID_Category], [Discount], [Amount], [Description], [Photo]) VALUES (2, N'G843H5', N'Велосипед взрослый горный Slash Stream 27.5 колеса (2025) 19" Синий (172-182 см)', 1, CAST(19791.00 AS Decimal(7, 2)), 1, 1, 1, CAST(30.00 AS Decimal(5, 2)), 9, N'В комплектацию включены дисковые механические тормоза RPT DSC-310. Особый упор разработчики рамы данной модели сделали на увеличение прочности мест наибольшей нагрузки. ', N'2.jpg')
INSERT [dbo].[Product] ([ID], [Article], [Name], [ID_Measurement], [Price], [ID_Supplier], [ID_Manufacturer], [ID_Category], [Discount], [Amount], [Description], [Photo]) VALUES (3, N'D325D4', N'Велосипед городской подростковый серый', 1, CAST(9919.00 AS Decimal(7, 2)), 2, 2, 2, CAST(5.00 AS Decimal(5, 2)), 12, N'"Городской подростковый велосипед - идеальный выбор для активного образа жизни!', N'3.jpg
')
GO
INSERT [dbo].[Product_Order] ([ID], [ID_Order], [ID_Product], [Amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[Product_Order] ([ID], [ID_Order], [ID_Product], [Amount]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Product_Order] ([ID], [ID_Order], [ID_Product], [Amount]) VALUES (3, 3, 3, 10)
GO
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'Новый ')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'Завершен')
GO
INSERT [dbo].[Streets] ([ID], [ID_City], [Name]) VALUES (1, 1, N'Вишневая')
INSERT [dbo].[Streets] ([ID], [ID_City], [Name]) VALUES (2, 1, N'Подгорная')
INSERT [dbo].[Streets] ([ID], [ID_City], [Name]) VALUES (3, 1, N'Шоссейная')
GO
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (1, N'ВелоСтрана')
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (2, N'ЯндексМаркет')
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (3, N'Скилс')
GO
INSERT [dbo].[Users] ([ID], [ID_Role], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([ID], [ID_Role], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([ID], [ID_Role], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'5d4zbu@tutanota.com', N'rwVDh9')
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Streets] FOREIGN KEY([ID_Street])
REFERENCES [dbo].[Streets] ([ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Streets]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([ID_Status])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([ID_User])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ID_Category])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ID_Manufacturer])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Measurement] FOREIGN KEY([ID_Measurement])
REFERENCES [dbo].[Measurement] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Measurement]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([ID_Supplier])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Product_Order]  WITH CHECK ADD  CONSTRAINT [FK_Product_Order_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Product_Order] CHECK CONSTRAINT [FK_Product_Order_Order]
GO
ALTER TABLE [dbo].[Product_Order]  WITH CHECK ADD  CONSTRAINT [FK_Product_Order_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Product_Order] CHECK CONSTRAINT [FK_Product_Order_Product]
GO
ALTER TABLE [dbo].[Streets]  WITH CHECK ADD  CONSTRAINT [FK_Streets_City] FOREIGN KEY([ID_City])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Streets] CHECK CONSTRAINT [FK_Streets_City]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
